<div id="header">
  <div class="tabs">
    <a routerLink="/"><div id="main" class="left-header-blocks"><i class="fas fa-code"></i><p>main</p></div></a>
    <a routerLink="/catalog"><div id="catalog" class="left-header-blocks"><i class="fas fa-code"></i><p>Catalog</p></div></a>
    <a routerLink="/product"><div id="product" class="left-header-blocks"><i class="fas fa-code"></i><p>Product</p></div></a>
    <a routerLink="/aboutUs"><div id="about" class="left-header-blocks"><i class="fas fa-code"></i><p>About Us</p></div></a>
  </div>
</div>
<div style="width: 100%; height: 50px;"></div>
