#footer{
  width: 100%;
  margin-top: 50px;
  height: auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  flex-direction: row;
  border-top: 2px solid #3c9b00;
  align-items: center;
  font-size: 14px;
  bottom: 0;
  border-radius: 7px 7px 0 0;
  .address{
    flex-basis: 25%;
    padding: 15px;
    @media screen and (max-width: 600px){
      padding: 0 5px;
    }
  }
  .tel{
    flex-basis: 50%;
    padding: 15px;
    text-align: center;
    @media screen and (max-width: 600px){
      padding: 0 5px;
    }
    a{

    }
    .copyr{

      a{

      }
    }
  }
  .copyright{
    flex-basis: 25%;
    padding: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 600px){
      padding: 0 5px;
    }
    .footer_logo{
      color: #FFFFFF;
      background-color: #31465c ;
      padding: 10px;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 600px){
    flex-direction: column;
  }
}
