<div id="footer">
    <div class="address">
        <p>67806 Украина, Одесская обл. Овидиопольский р-н, пгт Авангард ул. Ангарская 5-Б</p>
    </div>
    <div class="tel">(048) 740-19-49, 740-19-50, 740-19-48 E-mail: <a href="mailto:sonant@sonant.od.ua">sonant@sonant.od.ua</a>
        <div class="copyr">
            <a routerLink="/" title="Производители отделочных материалов">Сонант: производство пенопласта</a>
            <br> © Все права защищены.
        </div>
    </div>

    <div class="copyright">Разработка сайта<a target="_blank"> MFSS</a>
        <span class="footer_logo">©  1994 – 2019 Sonant</span>
    </div>
</div>